// $biggerFontSize : 22;
// $bigFontSize : 18;
// $smallFontSize:14;
// $smallerFontSize:12;
// $brandColorOpacity:rgba(18,51,100,0.5);
// $brandColorOpacity2:rgba(18,51,100,0.2);
// $brandColorOpacity3:rgba(18,51,100,0.05);

$defaultFontSize:16;
$smallerFontSize:14;
$brandColorYellow:rgb(255,210,0);
$brandColorOrange:rgb(255,120,40);

$brandColorYellowOpacity:rgb(255,210,0,0.1);
$brandColorOrangeOpacity:rgb(255,120,40,0.1);

$backgroundColor : #e0eefa;
$backgroundColorOpacity: rgba(224, 238, 250, 0.4);
$backgroundColorOpacity2 : rgba(224, 238, 250, 0.8);
$backgroundColorOpacity3 : rgba(224, 238, 250, 0.2);
$lineColor : #86B9E1;
$borderColor : #598DC4;
$fontColor:#083349;
$brandOceanColor : #507FB2;
$brandOceanColor2 :rgb(60, 76, 95);
$brandOceanColor3 :rgb(41, 85, 132);
$lightColor : rgb(210, 245, 207);
$lightColorOpacity : rgba($lightColor, 0.7);


$brandWhiteColor:rgb(249,253,255);
$brandWhiteColorOpacity:rgb(249,253,255,0.2);
$redColor :  rgb(255, 51, 44);
$greenColor : rgb(87, 196, 145);
