/* 패널 중앙 정렬 및 고정 크기 */
.signupPanel {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 유지 */
    width: 320px; /* 패널 너비 고정 */
    padding: 20px; /* 내부 여백 추가 */
}

/* 입력창 컨테이너 */
.inputContainer {
    width: 100%;
}

/* 입력 필드 스타일 */
.inputField {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 10px; /* 각 필드 간격 */
    transition: border-color 0.2s ease; /* 포커스 시 효과 */
}

/* 입력 필드에 포커스 시 스타일 */
.inputField:focus {
    border-color: #007bff;
    outline: none;
}

/* 로그인 버튼 스타일 */
.loginButton {
    width: 100%;
    padding: 12px;
    background-color: #86B9E1;
    color: #083349;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease; /* 버튼 클릭 시 효과 */
}

.loginButton:hover {
    background-color: #598DC4; /* 호버 시 색상 */
}

/* 링크 버튼 스타일 */
.links {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    width: 100%;
    margin-top: 15px; /* 상단과의 간격 */
}

.linkContainer {
    display: flex;
    justify-content: center; /* 오른쪽 정렬 */
    width: 100%; /* 컨테이너 너비 100% */
}

.linkButton {
    background: none;
    border: none;
    color: #083349;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0;
    transition: color 0.2s ease; /* 클릭 시 색상 */
}

.linkButton:hover {
    color: #1a3847; /* 호버 시 색상 */
}

.separator {
    margin: 0 10px; /* 구분자 양쪽 여백 */
    align-self: center; /* 구분자를 버튼의 중앙으로 맞춤 */
    background-color: #083349;
    width: 1px;
    height: 60%;
}
