@import '../../../components/ScssSetting/default';

.insideMiddle {
    display : block;
    width: ptr(100);
    height : 95%;
    // background-color: red;
    .selectionBoxes {
      margin-top: ptr(45);
      // margin-right: ptr(10);
      display: flex; /* Flexbox 사용 */
      flex-direction: column; /* 수직 정렬 */
      gap: ptr(10); /* 요소 간 간격 설정 */
      
    }
    

}