.gameContainerOutside{
  display: flex;
  justify-content: center;
  width: 100%;
  padding : 1rem;
  background-color: #507fb2;
}
.gameContainer {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f0f8fd;
  border-radius: 20px;
}

.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-left: 3rem;
  padding-top: 10rem;
  position: relative;
}

.rightSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 8rem;
  padding-right: 3rem;
}

.startContainer{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
  margin: 0 auto;
}

.hangmantitle1 {
  display: flex;
  height: 5vw;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: rgb(245, 224, 64);
  -webkit-text-stroke: 1px rgb(142, 130, 39); 
  font-family: 'neodgm';
  text-shadow: 2px 3px 8px rgb(255, 75, 75);
  transition: all 0.8s cubic-bezier(0.5, 0.8, 0.4, 1);
  transform-origin: center;
  position: relative;
  z-index: 100;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.zoomEffect {
  transform: scale(7);
  opacity: 0;
  filter: blur(1px);
}

.startButton {
  display: flex;
  border-radius: 15px;
  font-size: 40px;
  color: rgb(195, 195, 195);
  -webkit-text-stroke: 1px black; 
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  animation: pulse 1.5s ease-in-out infinite;
  transition: all 0.5s ease;
}

.startButton:hover {
  animation: none;
  transform: scale(1.1);
}

.hideButton {
  opacity: 0;
  transform: scale(0.5);
}

.displayBox {
  justify-content: center;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.remainingBox {
  position: static;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.displayWord {
  font-size: 50px;
  align-self: center;
  letter-spacing: 10px;
}

.remainingText {
  align-self: center;
  margin-right: 10px;
}

.remainingTries {
  font-size: 30px;
  align-self: center;
}

.buttonRow {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button {
  margin: 5px;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.gameOverBoxoutside {
  position: absolute;
  inset: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.gameOverBox{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  background-color: rgba(49, 49, 49, 0.96);
  height: 20rem;
  width: 30rem;
  border-radius: 15px;
}
@font-face {
  font-family: 'neodgm';
  src: url('../../font/neodgm.ttf') format('truetype');
}

.gameOver {
  color: rgb(255, 0, 0);
  font-size: 50px;
  font-family: 'neodgm';
  margin-bottom: 1rem;
}
.gameOverword{
  color: rgb(173, 173, 173);
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.gameOveragain{
  color: rgb(239, 239, 239);
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'neodgm';
}
.gameOveragainbutton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.newbutton {
  border-radius: 15px;
  color: aliceblue;
  font-size: 30px;
  margin: 20px;
  position: relative;
  font-family: 'neodgm';
}
.newbutton:hover::before {
  content: "* ";
  position: absolute;
  right: 100%;
  margin-right: 5px;
  margin-top: 2px;
}
.newbutton:hover::after {
  content: " *";
  position: absolute;
  left: 100%;
  margin-left: 5px;
  margin-top: 2px;
}
.disnewbutton{
  display: none;
}
.regamemessage{
  font-size: 14px;
  color: #818181;
}

.button:disabled {
  cursor: not-allowed;
}

.usedLetter {
  background-color: rgb(121, 242, 121);
}

.clickedLetter {
  background-color: rgb(255, 141, 141);
}

.wordbox {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wordbox .buttonRow {
  margin: 5px 0;
}

.buttonRow .button {
  font-size: 25px;
  font-weight: 600;
  width: 55px;
  height: 55px;
}

@media (max-width: 768px) {
  /* 작은 화면에서 버튼 크기 및 레이아웃 조정 */
  .buttonRow .button {
    font-size: 14px;
    width: 40px;
    height: 40px;
  }

  .remainingBox {
    left: 5vw;
    top: 5vh;
  }

  .displayWord {
    font-size: 40px;
  }

  .remainingText,
  .remainingTries {
    font-size: 20px;
  }

  .newbutton {
    width: 100px;
    height: 50px;
    font-size: 14px;
  }
}

.categoryBox {
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

.categoryText {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}
.backButton{
  background-color: gray;
  border-radius: 15px;
  color: aliceblue;
  font-size: 16px;
  height: 50px;
  padding: 10px 20px;
}
.backButton:hover{
  background-color: darkgray;
}