html, body {
    height: 100%;  /* 화면 전체를 차지하도록 설정 */
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* 자식 요소들을 위아래로 균등하게 배치 */
  }
  
  .clipContainer {
    z-index: 0;
    flex-grow: 1;  /* 클립 영역이 가능한 공간을 모두 차지하도록 설정 */
    width: 100%;
    position: relative;
  }
  
  .clipContainer > .react-player {
    height: 100%;  /* ReactPlayer의 높이를 부모 컨테이너에 맞춤 */
  }
  